.inner{
    @font-face {
    font-family: style;
    src: url("Agbalumo/Agbalumo-Regular.ttf");
}
@font-face {
    font-family: fogala;
    src: url("Fjalla_One/FjallaOne-Regular.ttf");
}
@font-face {
    font-family: regular;
    src: url("ArefRuqaa-Regular.ttf");
}
@font-face {
    font-family: st;
    src: url("ADLaM_Display/ADLaMDisplay-Regular.ttf");
}
@font-face {
    font-family: light;
    src: url('Poppins/Poppins-Light.ttf');
}
*{
    margin: 0;
    padding: 0;
    
}

li{
    list-style: none;
    margin: 0 25px;
}
a{
    text-decoration: none;
   text-transform: capitalize;
   font-size: 25px;
   color: #000;
   font-family: regular;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 150px;
    cursor: pointer;
}
header .navbar{
    
    padding: 20px;
   
        box-shadow: 1px 14px 14px #0000001a;
}
a:hover{
    color: rgb(255, 0, 221);
}
h2{
        text-transform: uppercase;
    padding: 23px 0 0 18px;
    font-family: regular;
    font-size: 2rem;
    font-weight: 100;
    word-spacing: 22px;
}
header ul{
    text-align: center;
    float: right;
    line-height: 74px;
    width: 30%;
    padding: 10px 30px;
 height: 24.9rem;
    box-shadow: 9px 37px 25px #0707071f;
    background: #fff;
}
nav{
     align-items: stretch;
}
h1{
          font-family: style;
    font-size: 10rem;
    font-weight: 900;
    line-height: 1em;
    text-shadow: -10px 36px 50px rgba(0, 0, 0, 0.21);
    text-transform: capitalize;
    text-transform: capitalize;
    transform: rotate(-8deg);
    padding: 0 55px;
}
.flex{
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 10rem 20px;
}
.menu-icon{
   display: flex;
   align-items: center;
    cursor: pointer;
    padding: 0 20px;
}
.video{
    width: 30%;
}
video{
    width: 100%;
}
p{
   font-family: st;
    color: #00000094;
    font-size: 24px;
    line-height: 44px;
   
}
button{
    padding: 20px 30px;
    background: transparent;
    font-size: 22px;
    margin: 40px 10px;
    cursor: pointer;
    font-family: st;
    transition: all ease 0.5s;
}
button:hover{
    background-color: #5b2a2a44;
    color: #fff;
    border: none;
}
.banner {
    position: relative;
    
  }

  .banner::before {
    content: '';
    opacity: 0.1; 
    
    background-size: cover;
    background-position: center;
     background-image: url('images/Oil_Painting-768x576.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2; 
  }
  .banner-2{
    padding: 7rem 0;
  }
 h3{
        font-size: 74px;
        text-align: center;
    font-family: 'style';
  }
  .banner-2 p{
    margin: 4rem 0;
  }
  .contain{
    padding: 0 55px;
  }
  .grid{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    
  }
   img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid .images{
    width: 30%;
        height: 333px;
    object-fit: contain;
  }
  .flexbox{
    display: flex;
    align-items: center;
    gap: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
   .product{
    margin-top: 5rem;
   }
  .product .image{
    width: 310px;
    height: 400px;
  }
  .info{
    padding: 15px 0;
  }
  .info h6{
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: st;
  }
  .info h5{
    font-size: 22px;
    font-weight: 100;
    font-family: style;
  }
  .info button{
   margin: 10px 0;
    padding: 10px 15px;
    border: none;
    background-color: #dadada;
    font-size: 14px;
  }
  .info button:hover{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
  }
 .cart{
    width: 18px;
    position: relative;
    top: 3px;
   
 }
 .banner-4{
    padding: 5rem 0;
 }
 .banner-4 p{
    text-align: center;
    margin: 50px;
 }
 .block{
    background-color: #f0f0f0;
    max-width: 1000px;
    margin: 0 auto;
    cursor: pointer;
    padding: 25px;
    font-weight: 100;
    
 }
.arow{
    width: 20px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h4{
    font-family: st;
    color: #494949e0;
}
.jsconst{
    max-width: 900px;
    margin: 0 auto;
    color: #494949e0;
    margin-top: 20px;
    display: none;
    font-family: st;
    line-height: 30px;
}
.display{
   display: block;
  
}
.rotate{
    transform: rotate(180deg);
    transition: 0.5s;
}
.bloker{
    padding: 10px;
}footer{
    background-color: #202020;
    color: #fff;
    font-family: light;
    padding: 5rem 0;
}
footer a{
    color: #fff;
    font-family: light;
}
.align{
    display: flex;
}
footer ul{
   display: block;
   color: #fff;
   font-size: 22px;
}

footer  li a:first-child{
    font-size: 15px;
}
.sec-1{
    width: 25%;
}
.copy{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
.logos{
    width: 200px !important;
}
.m{
    width: 12px;
}
.n{
    width: 22px;
    position: relative;
    top: 7px;
    left: -5px;
}
.close-icon{
    width: 26px;
}.active {
    position: fixed;
    right: 0;
    top: 0;
}

#nav-links {
  position: fixed;
    right: -100%;
    top: 152px;
    width: 100%;
    height: 100vh;
    /* background: #fff; */
    transition: all 0.5s 
ease;
    z-index: 1000;
}

#nav-links.active {
    right: 0;
}
.naver{
    width: 40px;
    padding: 0 10px;
}
}